$xs:        20em;
$sm:        40em;
$md:        50em;
$lg:        64em;
$xl:        $lg + 1;

$xs:          30em;
$sm:          40em;
$md:          50em;
$lg:          64em;
$xl:          $lg + 1;

// Breakpoints
@mixin media-query($type) {
  @if $type == xs {
    @media screen and (max-width: $sm) {
      @content;
    }
  }
  @else if $type == sm {
    @media (min-width: $sm) and (max-width: $md) {
      @content;
    }
  }
  @else if $type == md {
    @media (min-width: $md) and (max-width: $lg) {
      @content;
    }
  }
  @else if $type == lg {
    @media (min-width: $lg) and (max-width: $xl) {
      @content;
    }
  }
  @else if $type == xl {
    @media (min-width: $xl) {
      @content;
    }
  }
}
