$nav-color: $color-purple;

/* Fixed options */
$nav-fixed-width: 90%;

.nav {
  background: $nav-color;

  // fixed navigation
  &--fixed {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: $nav-fixed-width;
  }

  &__logo {
    width: 20%;
    float: left;
    margin: 0;
    padding: 8px 0 0 20px;
    color: $color-white;
    font-size: 1.3rem;

    a {
      color: $color-white;
      text-decoration: none;
    }

    @include sm {
      padding: 15px 20px;
    }

    @include xs {
      padding: 15px 20px;
    }
  }

  &__wrapper {
    width: 80%;
    float: right;
    text-align: right;

    @include xl {
      display: block !important;
    }

    @include lg {
      display: block !important;
    }

    @include md {
      display: block !important;
    }

    @include sm {
      display: none;
      width: 100%;
      text-align: center;
      background: darken($nav-color, 5%);
    }

    @include xs {
      display: none;
      width: 100%;
      text-align: center;
      background: darken($nav-color, 5%);
    }
  }

 &__list {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    @include xs {
      display: block;
    }
  }

  &__link {
    display: block;
    font-size: $base-font-size;
    text-decoration: none;
    padding: 10px 20px;
    color: lighten($nav-color, 25%);
    @include transition(color .3s ease);

    &:hover {
      color: $color-white;
    }
  }

  /* Trigger */
  &__trigger {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 30px;
    height: 24px;
    appearance: none;
    border: 0;
    background: $nav-color;
    cursor: pointer;
    display: none;

    @include sm {
      display: block;
    }

    @include xs {
      display: block;
    }
  }

  /* Trigger Lines */
  &__hair {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 2px;
    background: $color-white;
    @include transition(.3s ease);

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 0;
      bottom: 0;
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }

  /* Cross state for trigger */
  &__cross {
    .nav__hair {
      &:nth-child(1) {
        bottom: 0;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        width: 0;
      }

      &:nth-child(3) {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }
}
