a,
.link {
    color: $color-black;
    text-decoration: underline;
    
    &:hover {
        border-bottom: 0px;
        text-decoration: none;
    }

    &--light {
        color: $color-white;
    }

    &--brand {
        &:hover {
            color: $color-accent;
        }
    }
}